{% extends "base.html" %}
{% block title %}Housing Portal{% endblock %}
{% block stylesheet %}
<style>
/*Section -1: Error Reports */
#error {
    padding: 10px;
    background-color: #ffffff;
    color: red;
}
</style>
{% endblock %}

{% block content %}
<h2 class="center">Search by parcel ID or address</h2>
<div><p>{{ msg }}</p></div>
<div id="error"><p>{{ error_message }}</p></div>
<form method="post">
    {% csrf_token %}
    {{ address_form.non_field_errors }}
    <div>
        <span>
            {{ address_form.address.errors }}
            <b>Address:</b> {{ address_form.address }}
            <input type="radio" name="search_type" value="address" checked="checked">Search by address
            <input type="radio" name="search_type" value="parcel">Search by parcel ID<br>
        </span>
    </div>
</form>
<br><br>
{% include "hipbone/results.html" %}
{% endblock %}
