{% extends "base.html" %}
{% block title %}Housing Portal{% endblock %}
{% block stylesheet %}
{% endblock %}

{% block content %}
<div><p>Enter an address to get information about the parcel. {{ msg }}</p></div>
<form method="post">
    {% csrf_token %}
    {{ address_form.non_field_errors }}
    <div>
        <span>
            {{ address_form.address.errors }}
            <b>Address:</b> {{ address_form.address }}<br>
        </span>
    </div>
</form>
<br><br>
{% if parcel_id is not none and parcel_id != '' %}
    <div id="info">
        <h1>parcel ID:</h1> {{ parcel_id }}
        {% if 'census_tract' in parcel_data %}
            <br><br>
            <h1>Census Tract:</h1> {{ parcel_data.census_tract }}
        {% endif %}
        <form method="post" action="pdf/">
            {% csrf_token %}
            <!--input type="submit" id="download_as_pdf" value="Save as PDF"-->
        </form>
    </div>
{% endif %}
{% endblock  %}
