{% load static %}<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'hipbone/css/housing-portal-basic-style.css' %}">
  <!--link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"-->
  <link rel="stylesheet" href="{% static 'hipbone/css/jquery-ui.css' %}">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <!-- Map business -->
  <script src="https://api.mapbox.com/mapbox-gl-js/v1.6.1/mapbox-gl.js"></script>
  <link href="https://api.mapbox.com/mapbox-gl-js/v1.6.1/mapbox-gl.css" rel="stylesheet"/>
  <script src="{% static 'hipbone/js/mapUtils.js' %}"></script>
  <script src="{% static 'hipbone/js/utils.js' %}"></script>
  <script src="{% static 'hipbone/js/layers.js' %}"></script>
  <script src="{% static 'hipbone/js/index.js' %}"></script>
  <script src="{% static 'hipbone/js/mapMain.js' %}"></script>

  <script>
      $(function () {
          $("#tabs").tabs();
      });
  </script>
  {% block stylesheet %}{% endblock %}
</head>
<body>
<div id="main-flex-container">

  <header>
    <div id="header">
                <span class="user">
                {% block login-status %}
                  {% if request.user.is_authenticated %}
                    Logged in as {{ request.user.username }}.
                    <a href="{% url "logout" %}">Log out</a>.
                  {% else %}
                    <a href="{% url "login" %}">Log in</a>.
                  {% endif %}
                  <P></P>
                  <P></P>
                {% endblock %}
                </span>
      <div class="center-text">
        <div style="display:inline-block;">
          <a href="/" class="cross_site_title">Housing Information Portal</a>
        </div>
      </div>
    </div>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</div>

  <footer>
    <div id="footer">
      {% if output_format == 'html' %}
        <div class="wrapper">
          <div class="box a">{% block footer_message %}
            Send us feedback about this tool through our <a href="https://datadrivendetroit.org/askd3/">AskD3 site</a>.
          {% endblock %}</div>
          <div class="box b"><img class="autosize" src="{% static 'hipbone/images/D3_logo.png' %}"></div>
          <div class="box c"><img class="autosize" src="{% static 'hipbone/images/ask-d3-logo.png' %}"></div>
        </div>
      {% else %}
        <div style="float:left; width:50%;" class="vertically-align">Send us feedback about this tool through our <a
            href="https://datadrivendetroit.org/askd3/">AskD3 site</a>.
        </div>
        <div style="float:left; width:25%;" class="vertically-align"><img height="50px" width="auto"
                                                                          src="{% static 'hipbone/images/D3_logo.png' %}">
        </div>
        <div style="float:right; width:25%;" class="vertically-align"><img height="150px" width="auto"
                                                                           src="{% static 'hipbone/images/ask-d3-logo.png' %}"
        </div>
        </table>
      {% endif %}
    </div>
</footer>
{% block javascript %}{% endblock %}
</body>
</html>
